<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/rank.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar.ejs') %>
  <main class="container">

    <div class="row mt-5">
      <div class="col-md-6 m-auto p-0">

        <form class="text-center" action="/api/add/member" method="post">
          <div class="row">
            <div class="col-md-4 text-md-end">
              <label for="name">姓名</label>
            </div>
            <div class="col-md-8 text-md-start">
              <input class="w-75 form-control d-inline" id="name" type="text" name="name">
            </div>
            <div class="col-md-4 text-md-end">
              <label for="telegram">Telegram</label>
            </div>
            <div class="col-md-8 text-md-start">
              <input class="w-75 form-control d-inline" id="telegram" type="text" name="telegram">
            </div>
          </div>
          <br>

          <div class="row mt-5">
            <div class="col-5 w-50 m-auto">
              <button class="btn btn-secondary m-auto w-100" id="submit" type="submit">新增</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script src=""></script>
</body>
</html>